* {
	padding: 0;
	margin: 0;
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

html,
body {
	width: 100%;
	height: 100%;
}

html {
	font-size: 50px;
}

[v-cloak] {
	display: none;
}

.flex{
	display:flex;
}
.flex1{
	flex:1;
}
.footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 99;
}
.footer .tips-box{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.2rem 0.3rem;
	box-sizing: border-box;
}
.footer .tips-box .tips{
	font-size: .2rem;
}
.footer-menu {
	display: flex;
	align-items: center;
	height: 1.2rem;
	background-color: #fff;
	border-top: 1px solid #eee;
}

.footer-menu .menu-item {
	flex: 1;
	text-align: center;
	display: block;
}

.menu-item img {
	width: .64rem;
	height: .64rem;
	display: block;
	margin: 0 auto;
}

.menu-item p {
	font-size: .24rem;
	color: #333;
}

.menu-item.on p {
	color: #00a500;
}
.noData{
	font-size: .3rem;
	color: #aaa;
	text-align: center;
	margin: 1.5rem auto 0;
}
.noData img{
	width: 5.38rem;
	height: 3.02rem;
	margin-bottom: .2rem;
}

.alert-bg{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: rgba(0,0,0,.7);
}
.alert-wrap{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.alert-wrap .alert-box{
	background-color: #fff;
	border-radius: .2rem;
	width: 94%;
	padding-bottom: .38rem;
}
.alert-box .alert-title{
	height: .9rem;
	display: flex;
	align-items: center;
	padding: 0 .43rem;
	box-sizing: border-box;
	border-bottom: 1px solid #e6e6e6;
	font-size: .3rem;
	color: #333;
	position: relative;
}
.alert-title .pos{
	width: .23rem;
	height: .3rem;
	margin: 0 .06rem 0 .23rem;
}
.alert-title .close{
	position: absolute;
	right: .43rem;
	top: .2rem;
	width: .5rem;
	height: .5rem;
}
.alert-title .txt{
	color: #1F98FF;
}
.alert-box .alert-con{
	padding: .38rem .43rem 0;
	box-sizing: border-box;
}
.alert-con .top{
	font-size: .3rem;
	color: #333;
	font-weight: 500;
	margin-bottom: .3rem;
}
.top span{
	margin: 0 .1rem 0 .2rem;
	color: #1F98FF;
}
.alert-tips{
	color: #f00;
	font-size: .26rem;
	text-align: left;
	padding-left: .5rem;
	box-sizing: border-box;
	margin-top: .1rem;
}
.alert-con .con{
	display: flex;
	flex-wrap: wrap;
	font-size: .26rem;
	color: #333;
}
.con .area-item{
	width: 33%;
	margin: .21rem 0;
	text-align: center;
}
.con .area-item.on{
	color: #1F98FF;
}
.con .area-item.red{
	color: #f00;
}
.con .area-item:nth-child(3n-1){
	/* text-align: center; */
}
.con .area-item:nth-child(3n){
	/* text-align: right; */
}
.btn-group{
	display: flex;
	align-items: center;
	height: .92rem;
	border-top: 1px solid #e6e6e6;
}
.btn-group .btn{
	flex: 1;
	text-align: center;
	line-height: .92rem;
	font-size: .3rem;
	color: #333;
}
.btn-group .btn:first-child{
	border-right: 1px solid #e6e6e6;
}
.btn-group .btn.ok{
	color: #1F98FF;
}
.msg-bg{
	background-color: transparent;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}
.msg-bg .msg-wrap{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.msg-wrap .msg-content{
	padding: .2rem .3rem;
	max-width: 80%;
	background-color: rgba(0,0,0,.75);
	color: #fff;
	font-size: .3rem;
	border-radius: .1rem;
}

.alert-box{
	
}
.p-alert-title{
	font-size: .36rem;
	text-align: center;
	padding: .3rem .5rem;
	box-sizing: border-box;
}
.bold{
	font-weight: bold;
}
.p-alert-tips{
	font-size: .34rem;
	padding: .3rem .7rem;
	box-sizing: border-box;
}
.alert-content{
	font-size: .26rem;
	max-height: 10rem;
	overflow-y: auto;
	padding: 0 .3rem;
	box-sizing: border-box;
	text-align: justify;
}
.alert-para{
	text-indent: 2em;
}
.alert-btn{
	display: flex;
	align-items: center;
	padding-top: .3rem;
}
.alert-btn .btn{
	flex: 1;
	font-size: .36rem;
	text-align: center;
}
.alert-btn .btn:last-child{
	color: #0081FF;
}

.loading{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.8);
	display:flex;
	align-items:center;
	justify-content:center;
}
.loading .txt{
	color:#fff;
	font-size:.4rem;
}


